.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $primary-color;
}

.h_title {
    margin-top: 1.5rem;
}

.h_text {
    max-width: 500px;
    margin: 1.5rem 0;
}